.page-not-found-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  /* position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; */
}
.not-found-image,
p {
  max-width: 100%;
  max-height: 100%;
  z-index: 1;
}

.centered-button {
  position: absolute;
  z-index: 2; 
}
