button {
  outline: none !important;
  border: none;
}

button:hover {
  cursor: pointer;
}

.verify_left_grid {
  background-image: url("../../../../assets/images/OtpBanner_image.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}
.signup_div {
  /* position: fixed; */
  bottom: 0;
}

