@import "rsuite/dist/rsuite.css";



::-webkit-scrollbar {
  width: 6px;
  border-radius: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 3px;
}

.css-bj2p8a-MuiPaper-root-MuiCard-root {
  background-color: "inherit";
  box-shadow: none;
}

.GridIvrContainer {
  width: 100%;
  max-width: 40%;
}

/* Media query for screens smaller than 600px */
@media only screen and (max-width: 600px) {
  .GridIvrContainer {
    max-width: 100%;
  }
}
